@import '../../common';

.filter{
    position: absolute;
    width: 300px;
    transform: translateX(-350px);
    background: $bg-color;
    z-index: 100;
    transition: 300ms;
    &[aria-hidden=false]{
        transform: translateX(0);
        .filterBtn{
            left: calc(-300px - 1em);
        }
    }
}
.heading{
    padding-left: 1em;
}
.fieldset{
    display: grid;
    grid-template-rows: auto 0fr;
    border: none;
    border-bottom: 1px solid $link-color;
    transition: 300ms;
    &[aria-hidden=false]{
        grid-template-rows: auto 1fr;
        .title{
            color: $link-color;
        }
        .icon{
            rotate: 180deg;
        }
    }
}
.accordion{
    overflow: hidden;     
}
.title{
    display: flex;
    justify-content: space-between;
    padding-top: 0.25em;
    font-size: 1.25em;
}
.icon,
.filterIcon{
    width: 1.5em;
    transition: 300ms;
}
.filterBtn{
    position: absolute;
    top: -1.5em;
    right: -5.5em;
    background: none;
    color: inherit;
    border: none;
    outline: none;
    &:focus-visible{
        outline: 1px solid $link-color;
    }
}
.values{
    display: block;
    text-transform: capitalize;
}

@media screen and (width > 1200px) {
    .filterBtn{
        display: none;
    }
}