@import '../../common';

.filter{
    position: absolute;
    width: 300px;
    min-height: 100dvh;
    transform: translateX(-350px);
    background: rgba($bg-color, 0.7);
    backdrop-filter: blur(5px);
    z-index: 100;
    transition: 300ms;
    &[aria-hidden=false]{
        transform: translateX(0);
    }
}
.heading{
    padding-left: 1em;
}
.fieldset{
    display: grid;
    grid-template-rows: auto 0fr;
    border: none;
    border-bottom: 1px solid $link-color;
    transition: 300ms;
    &[aria-hidden=false]{
        grid-template-rows: auto 1fr;
        .title{
            color: $link-color;
        }
        .icon{
            rotate: 180deg;
        }
    }
}
.accordion{
    overflow: hidden;     
}
.title{
    display: flex;
    justify-content: space-between;
    padding-top: 0.25em;
    font-size: 1.25em;
}
.icon{
    width: 1.5em;
    transition: 300ms;
}
.values{
    display: block;
    text-transform: capitalize;
}

@media screen and (width > 1200px) {
    .filter{
        transform: translateX(0);
    }
}