// @import "~@flaticon/flaticon-uicons/css/thin/straight";
// only import that 1 icon from flaticon


@import './common';

body{
    margin-inline: 1em;
    background: $bg-color;//var(--bg-color);
    color: $text-color;//(--text-color);

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.headContainer{
    // margin-top: 4em;
    padding: 3em 0 3em 0;
    background: url('/small.png');
    background-size: contain;
}

// .header{
//     color: $primary-color;
//     font-family: "Titan One", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 120px;
//     text-transform: uppercase;
// }
// .header1{
//     color: $primary-color;
//     font-family: "Bangers", system-ui;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 120px;
//     text-transform: uppercase;
// }
// .header2{
//     color: $primary-color;
//     font-family: "Lilita One", sans-serif;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 120px;
//     text-transform: uppercase;
// }
.header3{
    margin: 0;
    color: $primary-color;
    font-family: "Seymour One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 29px;
    text-transform: uppercase;
    
    // decoration
    position: relative;
    text-shadow: 
        5px 5px 1px $shadow-light,
        -5px 5px 1px $shadow-light,
        5px -5px 1px $shadow-light,
        -5px -5px 1px $shadow-light,
        10px 10px 1px $shadow-dark,
        -10px 10px 1px $shadow-dark,
        10px -10px 1px $shadow-dark,
        -10px -10px 1px $shadow-dark;
    &::before{
        content: 'PUZZLE PLAZA';
        position: absolute;
        text-shadow: 
            1px 1px 1px $text-color,
            2px 2px 1px $edge,
            2px -2px 1px $edge,
            -2px -2px 1px $edge,
            -2px 2px 1px $edge;
    }
}
// .header4{
//     color: $primary-color;
//     font-family: "Carter One", system-ui;
//     font-weight: 400;
//     font-style: normal;
//     font-size: 120px;
//     text-transform: uppercase;
// }

.link{
    color: inherit;
    // color: coral;
    text-decoration: none;
    &:hover{
        color: cornflowerblue;
    }
}

// .extIcon{
//     width: 1.2em;
//     scale: 1.2;
//     color: $text-color;
// }

@media screen and (width > 375px){
    // .headContainer{
    //     padding: 3em 0 5em 0;
    // }
    .header3{
        font-size: 77px;
    }
}

@media screen and (width > 1000px){
    .headContainer{
        // padding: 3em 0 3em 0;
        text-align: center;
    }
    .header3{
        font-size: 100px;
    }
}