@import './common';

body{
    margin-inline: 1em;
    background: $bg-color;
    color: $text-color;

    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}



// kell ez? vagy inkabb egy mixin function, pass color? a commonba
.link{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: cornflowerblue;
    }
}