@import './common';

body{
    margin-inline: 1em;
    background: $bg-color;
    color: $text-color;

    font-family: var(--font-merri);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}