@import './common';

.auxrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.75em;
}
.filterBtn{
    background: none;
    color: inherit;
    border: none;
    outline: none;
    &:focus-visible{
        outline: 1px solid $link-color;
    }
}
.filterIcon{
    width: 1.5em;
}